/* 全局样式表 */
html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-main{
    line-height:1.33em !important;
}
.el-card{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/* //级联选择器 解决圆圈文本问题 */
.el-cascader-panel .el-radio {
    /* 关键在 width， 让圆圈宽度为100%，
    所以点击这一列的文字都会点击到单选框,再设置圆圈不可见  */
  width: 100%;
  /* height: 100%; */
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
}
.el-cascader-panel .el-radio__input {
  visibility: hidden;
}